# virtual env
venv_abt/*

# PyCharm ide
.idea/*

# data
data/*
!data/README.md
!/data/.gitkeep
!/data/raw/.gitkeep
!/data/interim/.gitkeep
!/data/processedrm/.gitkeep

# Django
#*.pyc
#__pycache__/

# unit-tests / coverage reports
#.pytest_cache/
.coverage
.coverage.*
